
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>keyOK</title>
</head>
<body>
    <div> 
        <p>암호키를 발급했습니다.</p>
        <a href="@Url.Action("","")">관리자페이지</a>
    </div>
</body>
</html>
