
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        function check() {
            var key = document.getElementById("key").value;
            if (key == "metoo") {
                document.login.action = "../Admin/Index";
                document.login.submit();
                alert("관리자 모드입니다.");
            }
            else {
                document.login.action = "../Vote/Index";
                document.login.submit();
                alert("투표를 시작합니다.");
            }
        }
    </script>
</head>
<body>
    <form method="post" id="login" name="login">
        <input type="text" id="key" placeholder="키 입력" />
        <input type="button" onclick="check()" value="확인" />
    </form>
</body>
</html>
